* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    list-style: none;
}

.center {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.header {
    padding: 40px 30px 84px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.top-logo {
    height: 40px;
}

.button {
    width: 120px;
    height: 40px;
    background: #F25822;
    color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.clik:hover {
    background: #fff;
    color: #F25822;
}

.clik:active {
    background: #F25822;
    color: #fff;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 34px;
}


.menu-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    color: #000000;
}

.menu-link1 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.home {
    color: #F25822;
}

.top-info {
    /* padding: 84px 0 103px 0; */
    gap: 38px;
    display: flex;
    flex-direction: row-reverse;
}

.top-content-img {
    width: 611px;
    height: 373;
    /* padding: 84px 0 162px 0; */
}

.info-content {
    position: relative;
    top: 64px;
}

.info-content-titel {
    font-family: Roboto;
    font-weight: bold;
    font-size: 60px;
    width: 522px;
    height: 222px;
}

.info-content-txt {
    margin: 17px 0 37px 0;
    width: 466px;
    height: 48px;
    color: #888888;
    font-family: Roboto;
}

.top-cotnent-btn-wrp {
    display: flex;
    align-items: center;
    gap: 27px;
}

.start {
    width: 140px;
    height: 50px;
    background: #F25822;
    color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.top-content-btn1 {
    width: 135px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background: no-repeat;
}

.top-logo-list {
    padding: 191px 0 91px 0;
    display: flex;
    list-style: none;
    gap: 48px;


}

.useful {
    margin: 100px auto;
    font-family: roboto;
}

.useful-item {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-item {
    width: 370px;
    height: 291px;
    list-style: none;
}

.info-item:hover {
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.item-img {
    margin: 40px 0 25px 30px;
    width: 70px;
    height: 70px;
    background-image: url(../img/item-img1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.useful-item>li:nth-child(2) .item-img {
    background-image: url(../img/item-img2.png);
}

.useful-item>li:nth-child(3) .item-img {
    background-image: url(../img/item-img3.png);
}

.header-item {

    font-size: 24px;
    line-height: 28px;
    margin: 0 0 17px 30px;
}

.txt-item {
    margin: 0 0 25px 30px;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
}

.transition {
    color: black;
    margin: 0 0 25px 30px;
    font-size: 11px;
    line-height: 150%;
}

.advantages {
    font-family: roboto;
}

.advantages-item {
    margin: 0 auto 0 auto;
    text-align: center;
    width: 682px;
    height: 123px;

}

.advantages-header {
    margin: 92 0 15px 0;
    font-size: 45px;
    line-height: 53px;
}

.advantages-txt {
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.advantages-block {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.block-item {
    margin: 55px 0 100px 0;
    width: 370px;
    height: 549px;
    list-style: none;
    text-align: center;

}

.block-item:hover {
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.block-img {
    width: 370px;
    height: 270px;
}

.block-header {
    margin: 25px 0 22px 0;
    font-size: 24px;
    line-height: 28px;
}

.block-txt {
    font-size: 15px;
    line-height: 150%;
    color: #AAAAAA;
}

.block-button {
    margin: 39px auto 50px auto;
    width: 120px;
    height: 40px;
    background: #F25822;
    color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}